*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/google-services.json
/app/google-services.json
/values/google_maps_api.xml
/app/src/main/res/values/google_maps_api.xml
.idea/caches/gradle_models.ser
.idea/markdown-exported-files.xml
app/libs/
app/src/main/res/drawable-v24/
app/src/main/res/mipmap-anydpi-v26/
gen/
releaseToUdacity.jks
